*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card {
    width: calc(33.33% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    /* float: left; */
    box-sizing: border-box;
    height: 48vh;
    background-color: black;
    border:10px black;
    text-align: center;
    margin:5px
}


.right-card {
    /* width: calc(25% - 20px) ; */
    /* float: right; */
    height: 100vh; 
    background-color: lightblue;
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
    border-color: black;
    width:25%;
}

/* .clear {
    clear: both;
} */
.container{
display: flex;
flex-direction:row;
justify-content: space-evenly;

}
.left-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    color: white;
    background-color: inherit;
    width:75%;
}